.navbar{
    display: flex;

}
.nav-list{
    width: 80%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 23px;
    text-align:left;
}
.nav-list li a{
    text-decoration: none;
    color: black;
}
.rightNav{
   
    width: 20%;
    
    text-align:center;
    padding-top: 20px;
}
.logo{
    align-items: right;
}
.imgs{
    margin: auto;
}
.container {
    
    display: flex;
    
    background-color: gray;
    font-size: ;
}

.container > div {
    
    text-align:center;
    width: 33.33%;
    height: 200px;
    font-size: 20px;
    padding-top: 25px;
    padding-left: %;
     /* Optional: Add border for visualization */
}
.container2 {
    
    display: flex;
    text-align:center;
    background-color: rgb(167, 164, 164);
    font-size: ;
    height: 900px;
}

.container2 > div {
    width: 33.33%;
    height: 200px;
    font-size: 20px;
    padding-top: 15px;
     /* Optional: Add border for visualization */
}
.container2 .secondsection,
.container2 .thirdsection {
    /* Apply padding only to second and third sections */
    padding-top: 12%;
}
.h1 {
    width: 500px;
    font-size: 150%;
    height: 10%;
  }
  .container3 {
    padding-left: 10%;
    text-align: left;
  }
  .container4 {
    
    text-align: center;
  }
  .container5 {
    padding-right: 10%;
    text-align: right;
  }
  .paragraph2{
    width: 70%;
    padding-left: 15%;
    text-align: center;
  }
  .paragraph3{
    padding-left: 23%;
    width: 110%;
    text-align: right;
  }